@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;padding: 0;box-sizing: border-box;scroll-behavior: smooth;text-decoration: none;list-style: none;font-family: 'League Spartan', sans-serif;border: none;
}

:root {
    --green: #3A7944;
    --green-two: #51B261;
    --green-3: #1F3D24;
    --cinza: #4d4b4b;
    --pointer: #000;
    --text-color: #fff;
}

body {
    height: 100dvh;
    width: 100dvw;
    align-items: center;
    justify-content: center;
    background-color: var(--pointer);
    color: #fff;
}

.margin-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--pointer);
    transition: .8s all linear;
    padding: 5px 240px 5px 240px;
}

.circle i {
    font-size: 10px;
}

header {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    padding: 5px 240px 0 240px;
    background-color: var(--green);
    position: fixed;
    z-index: 1000;
    width: 100vw;
    box-shadow: 0 4px 8px rgba(60, 143, 22, 0.1);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.logo a {
    color: var(--text-color);
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 30px;
}

.logo span {
    color: var(--pointer);
    font-weight: 900;
    font-size: 30px;

}

.sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
    padding-left: 40px;
    font-weight: 700;
    letter-spacing: 2px;
}

.sidebar li a {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.sidebar li a:hover {
    color: var(--pointer);
    transition: .4s;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #3A7944;
    border-radius: 10px;
}

/* Texto animado */
.txt {
    display: flex;
}

.txt-animado {
    font-size: 60px;
    font-weight: 600;
    width: 40vw;
    margin-bottom: 12px;
}

.txt-animado span {
    position: relative;
    font-family: 'League Spartan', sans-serif;
}

.txt-animado span::before {
    content: "";
    color: #3A7944;
    animation: words 20s infinite;
}

.txt-animado span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid rgb(44, 43, 43);
    right: -10px;
    animation: cursor .8s infinite, write 20s steps(15) infinite;
    width: calc(100% + 12px);
    background: #000;
}

@keyframes write {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 12px);
    }
}

@keyframes cursor {
    0% {
        border-left: 2px solid #000;
    }
}

@keyframes words {
    0%, 20% {
        content: "Jamyle Elen";
    }
    21%, 40% {
        content: "Programadora";
    }
    41%, 60% {
        content: "Criativa";
    }
    61%, 80% {
        content: "Jamyle Elen";
    }
    81%, 100% {
        content: "Programadora";
    }
}

/* Section 1 */

.one {
    display: flex;
    justify-content: space-between;
    padding: 5px 240px 5px 240px;
    height: calc(100vh - 18vh);
    margin-top: 7.5vh;
    background-image: url(../img/mold.png), url(../img/mold.png);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 100px 100px;
}

.modulo_one {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons {
    gap: 20px;
    display: flex;
    margin-bottom: 12px;
}

.icons i {
    border: var(--green) .1px solid;
    border-radius: 20px;
    padding: 3px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.icons i:hover {
    background-color: var(--green);
    transition: .4s;
}

.one h2 {
    color: #3A7944;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.one p {
    width: 37vh;
    margin-bottom: 30px;
    font-size: 19px;
    font-weight: 300;
}

.btn {
    display: flex;
    gap: 20px;
}

.btn button {
    width: 12rem;
    height: 2.3rem;
    cursor: pointer;
}

.btn button a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.btn_1  {
    background-color: var(--green);
    display: inline-block;
    padding: 10px 20px;
    color: var(--text-color);
    text-decoration: none;
    border: 2px solid var(--green);
    transition: background-color 0.3s, border-color 0.3s;
}
  
.btn_1:hover {
        background-color: transparent;
        border-color: var(--green-3);
}

.btn_2  {
    display: inline-block;
    padding: 10px 20px;
    color: var(--text-color);
    text-decoration: none;
    border: 2px solid var(--cinza);
    transition: background-color 0.3s, border-color 0.3s;
    background-color: var(--cinza);
}

.btn_2:hover {
    background-color: transparent;
    border-color: var(--cinza);
}

/* M1 */

.modulo_two {
    justify-content: center;
    align-self: center;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

.modulo_two img {
    border-radius: 500px;
    max-width: 600px;
    transform: translateY(0);
    animation: float 5s ease-in-out infinite;
}

#section_two  {
    display: flex;
    flex-direction: column;
}

.hb {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hb p {
    color: var(--green);
    font-weight: 700;
}

.hb h3 {
    font-size: 25px;
    margin: 10px 0 15px 0;
}

.hb span {
    color: var(--green);
    border: var(--green) solid;
    width: 35px;
    border-radius: 10px;
}

.linguagens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.linguagens img {
    width: 100px;
    cursor: pointer;
    transition: .4s;
}

.linguagens img:hover {
    transform: scale(1.05);
    transition: .6s;
}

abbr {
    position: relative;
    cursor: pointer;
    border-bottom: 1px dotted var(--pointer);
}

.ling:hover::after {
  content: attr(title);
  position: absolute;
  background-color: var(--green-3);
  border: 1px solid var(--green-3);
  padding: 5px;
  border-radius: 5px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: block;
}

.soft-skills-all {
    display: flex;
    flex-direction: row;
    padding: 5px 500px 5px 500px;
    gap: 1.5rem;
}

.soft-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    height: 250px;
    padding: 25px;
    text-align: justify;
    transition: .4s;
    border: 2px solid var(--green-3);
}

.soft-skills:hover {
    transform: scale(1.05);
    transition: .4s;
    background-color: var(--green-3);
}

.soft-skills img {
    width: 60px;
}

.soft-skills h5 {
    padding: 30px 0 20px 0;
    font-size: 16px;
}




